/***************************
        Dojo Css
***************************/
main{
    font-family: sans-serif;
    flex-direction: column;
}

header{
    /*display: inline-block;*/
    justify-content: space-between;
}
nav{
  float: right;
  /*afin de mettre la nav à droite*/
}
nav ul li{
  display: block;
  margin:0 10px;
}

ul{
  display: inline-flex;
}

ul li{
  /*display: inline-block;*/
}

#sousmenu{
    display: none;
}

#essai li:hover #sousmenu{
    display:block;
}

li:first-child {
    color: #486c8c;
}
.title{
    text-align: center;
    background-image: url("./img/bg.jpg");
    height : 400px;
    background-position: center center;
}

.second_text{
    flex : 5;
    text-align: center;
}
.last_section {
    display: flex;
}

.blue {
    color: #486c8c;
}

.grey {
    color: #bbbbae;
}

button {
    margin: auto;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #486c8c;
    padding: 1%;
}

.ok{
    margin-top: 150px;
    color: white;
}

.logo {
    margin:auto;
}

.last_section article{
    display:flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    justify-content:center;
}
